<div>
    <i 
    mat-raised-button 
    color="primary" >
  <mat-icon>menu</mat-icon>
  
</i>
  <!-- <i 
    mat-raised-button 
    color="primary" 
    [matMenuTriggerFor]="menu"
  >
  <mat-icon>menu</mat-icon>
  
</i> -->

  <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
      <button mat-menu-item> General</button>
      <button mat-menu-item> Display</button>
      <button mat-menu-item> Profile</button>

    </mat-menu> -->

</div>

    