


<div *ngIf="addState; else editBlock">
    <app-add-salutation></app-add-salutation>
  </div>
  <ng-template #editBlock>
  
    <div class="grid">
      <div class="box box2">
  
        <mat-card>
          <mat-card-header>
            <mat-card-title>EDIT SALUTATION</mat-card-title>
          </mat-card-header>
          <form [formGroup]="editForm">
            <mat-card-content *ngIf="salutation">
              <mat-form-field>
                <input placeholder="Enter Salutation" formControlName="salutationField" [(ngModel)]="salutation.name" matInput Uppercase
                  (focusout)="check($event)">
  
                <mat-error *ngIf="editForm.get('salutationField').invalid">{{getErrorMessage()}}</mat-error>
                <mat-hint align="end" class="hinterror" *ngIf="checker == true ">Duplicate Value</mat-hint>
              </mat-form-field>
              <br>
              <button mat-raised-button color="accent" (click)="update(salutation)" [disabled]="!editForm.valid || checker == true">UPDATE SALUTATION</button>


              <!-- <button mat-icon-button (click)="update(salutation)" [disabled]="!editForm.valid || checker == true">
                <mat-icon color="accent">mode_edit</mat-icon>
              </button> -->
            </mat-card-content>
  
          </form>
  
        </mat-card>
      </div>
  
    </div>
  
  </ng-template>
  <div>
    <app-list-salutation (salutationClick)="showFromParent($event)"></app-list-salutation>
  </div>
  