<mat-card>
  <mat-card-header>
    <mat-card-title>CREATE ADDRESS</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" class="example-form">
    <mat-card-content>

      <p>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Address Line 1" formControlName="lineOneField" [(ngModel)]="address.lineOne">
              <mat-error *ngIf="form.get('lineOneField').invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Address Line 2" formControlName="lineTwoField" [(ngModel)]="address.lineTwo">
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city" [(ngModel)]="address.city">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="State" formControlName="state" [(ngModel)]="address.state">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" >
              <input matInput #postalCode maxlength="7" placeholder="Postal Code" formControlName="postal" [(ngModel)]="address.postal">
              <mat-hint align="end">{{postalCode.value.length}} / 7</mat-hint>
            </mat-form-field></td>
          </tr></table>


        <br>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid" >ADD ADDRESS</button>
      <!-- <button mat-icon-button (click)="onSubmit()" [disabled]="!form.valid">
        <mat-icon color="accent">add_circle</mat-icon>
      </button> -->
    </mat-card-content>
  </form>
</mat-card>