<div class="grid">
  <div class="box box2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ADD DESIGNATION</mat-card-title>
      </mat-card-header>
      <form [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="eigthyPercent">
            <input 
              placeholder="Enter Designation" 
              formControlName="designationField" 
              [(ngModel)]="designation.name" 
              matInput
              Uppercase 
              (focusout)="checkDesignation($event)">
            <mat-error *ngIf="form.get('designationField').invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end" class="hinterror" *ngIf="designationCheker == true">Value Exist</mat-hint>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid || designationCheker == true">ADD DESIGNATION</button>
          <!-- <button mat-icon-button (click)="onSubmit()" [disabled]="!form.valid || designationCheker == true">
            <mat-icon color="accent">add_circle</mat-icon>
          </button> -->
        </mat-card-content>

      </form>
    </mat-card>
  </div>
</div>