<div class="grid">
  <div class="box box2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ADD INSURER</mat-card-title>
      </mat-card-header>
      <form [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="eigthyPercent">
            <input 
              placeholder="Enter Insurer Name" 
              formControlName="insurerField" 
              [(ngModel)]="insurer.name" 
              matInput
              Uppercase 
              (focusout)="checkEvent($event)">
            <mat-error *ngIf="form.get('insurerField').invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end" class="hinterror" *ngIf="cheker == true">Value Exist</mat-hint>
          </mat-form-field>
          <br>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid || cheker == true">ADD INSURANCE COMPANY</button>
          <!-- <button mat-icon-button (click)="onSubmit()" [disabled]="!form.valid || cheker == true">
            <mat-icon color="accent">add_circle</mat-icon>
          </button> -->
        </mat-card-content>

      </form>
    </mat-card>
  </div>
</div>