
<div *ngIf="addState; else editBlock">
    <app-add-insurer></app-add-insurer>
  </div>
  <ng-template #editBlock>
<div class="grid">
    <div class="box box2">

      <mat-card>
        <mat-card-header>
          <mat-card-title>EDIT INSURER</mat-card-title>
        </mat-card-header>
        <form [formGroup]="editForm">
          <mat-card-content *ngIf="insurer">
            <mat-form-field>
              <input placeholder="Enter Insurer" formControlName="insurerField" [(ngModel)]="insurer.name" matInput Uppercase
                (focusout)="check($event)">

              <mat-error *ngIf="editForm.get('insurerField').invalid">{{getErrorMessage()}}</mat-error>
              <mat-hint align="end" class="hinterror" *ngIf="checker == true ">Duplicate Value</mat-hint>
            </mat-form-field>
            <br>
              <button mat-raised-button color="accent" (click)="update(insurer)" [disabled]="!editForm.valid || checker == true">UPDATE INSURANCE COMPANY</button>


            <!-- <button mat-icon-button (click)="update(insurer)" [disabled]="!editForm.valid || checker == true">
              <mat-icon color="accent">mode_edit</mat-icon>
            </button> -->
          </mat-card-content>

        </form>

      </mat-card>
    </div>

  </div>
</ng-template>
<div>
  <app-list-insurer (insurerClick)="showFromParent($event)"></app-list-insurer>
</div>
